* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.input-img,
.output-img {
  background-color: #ffffff;
  box-shadow: inset 0px 0px 10px rgb(250, 66, 235);
  border: 1px solid rgba(240, 7, 201, 0.6);
}

.input-img:hover,
.output-img:hover {
  transition: all 0.5s;
  transform: scale(1.03);
}
